
.profile-card{
    padding:15px 25px;
    background-color: #FAD961;
	background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);

    border: 1px solid #E2E2E2;
    -webkit-border-radius: 5px 20px 5px;
    -moz-border-radius: 5px 20px 5px;
    -ms-border-radius: 5px 20px 5px;
    -o-border-radius: 5px 20px 5px;
    border-radius: 5px 20px 5px;
    width: 100%;

    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;

	-webkit-box-shadow: -1px 3px 3px rgba(0,0,0,0.8);
	-moz-box-shadow: -1px 3px 3px rgba(0,0,0,0.8);
	-ms-box-shadow: -1px 3px 3px rgba(0,0,0,0.8);
	-o-box-shadow: -1px 3px 3px rgba(0,0,0,0.8);
	box-shadow: -1px 3px 3px rgba(0,0,0,0.8);
    margin-top:20px;
}
.main-heading{margin-top:20px; text-align:center;}

.main-heading h1 {
	  text-shadow: 
	   0 -1px 0 #858585,
	   0 1px 10px rgba(0,0,0,.6),
	   0 6px 1px rgba(0,0,0,.1),
	   0 0 5px rgba(0,0,0,.2),
	   0 1px 3px rgba(0,0,0,.3),
	   0 3px 5px rgba(0,0,0,.2),
	   0 7px 10px rgba(0,0,0,.25),
	   0 15px 10px rgba(0,0,0,.2),
	   0 25px 15px rgba(0,0,0,.15);
	   color:#FFF;
}
.instruction{margin:20px 0;}
.instruction ul{padding-left:20px;}
.instruction ul li{margin-bottom:10px; list-style-type: disc; padding-left: 10px; line-height:35px;}
.instruction ul li .save{
	background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
	padding:0px 15px;
    color: #fff;
	border-radius:3px;
	display:inline-block;
	font-size:14px;
}
.instruction ul li .clear-response{
	background-color: #1E96C8;
	padding:0px 15px;
    color: #fff;
	border-radius:3px;
	display:inline-block;
	font-size:14px;
}
.instruction ul li .save-marked{
	background-color: #f34079;
	padding:0px 15px;
    color: #fff;
	border-radius:3px;
	display:inline-block;
	font-size:14px;
}
.instruction ul li .previous{
	background-color: #d47d46;
	padding:0px 15px;
    color: #fff;
	border-radius:3px;
	display:inline-block;
	font-size:14px;
}
.declaration-txt{margin:10px 0; padding-left:5px;}
.declaration-txt label{color:red; display:inline;}
.ready-to-begin{text-align:center; margin-top:20px;}
.ready-btn {
  background-color: #ff6a80;
  border-radius: 3px;
  border-width: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 15px;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
}

.proceed{text-align:center; margin-top:20px;}
.proceed-btn {
	background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
    font-size: 16px;
    font-weight: 600;
	padding:7px 20px;
    color: #fff;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 7px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
	border:1px solid #07804a
}

.proceed-btn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.proceed-btn:focus {
    outline: none;
}

